{% extends "base.html" %}

{% block content %}

 		<form action="/social/" method="post"> {% csrf_token %}
 			{% for field in form %}
                <div class="col-sm-4">
                    {{ field.label }}
                </div>			
				<div class="col-sm-8">
					{{ field }}
					{% for error in field.errors %}
        				<div class="alert alert-error">
            				<strong>{{ error|escape }}</strong>
        				</div>
    				{% endfor %}
				</div>
        		<br/><hr/>
    		{% endfor %}
    		{% if form.errors %}
	
				{% for error in form.non_field_errors %}
    				<div class="alert alert-error">
        				<strong>{{ error|escape }}</strong>
    				</div>
				{% endfor %}
			{% endif %}
    		<input type = "submit", class="btn btn-lg btn-success", value = "Save and Continue" href= "{% url 'home' %}" role="button">
        </form>

        <a id="add", class="btn btn-sm", href="#", align="right">Add another socail link</a>
    {% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
        $('.model_formset').modelformset({
            addText: 'add link',
            deleteText: 'remove'
        });
    </script>